<STYLE  TYPE="text/css">
<!--
BODY    { margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 0px;
          background:white;
	  color:black;
	  font-family: Times New Roman, times, tms, serif;
}

H1 { color: navy;
     font-weight: medium;
     font-size: 160%;
     font-family: Times New Roman, times, tms, serif;
}

H2 {
     color: navy;
     font-size: 140%;
     font-weight: medium;
     font-family: Times New Roman, times, tms, serif;
}

H3 { color: navy;
     font-size:   110%;
     font-weight: medium;
     font-family: Times New Roman, times, tms, serif;
}

H4 { color: navy;
     font-size:   100%;
     font-weight: bold;
     font-family: Times New Roman, times, tms, serif;

}

A:link  { color: navy;
          font-weight: medium;
         }

A:visited  { color: #606060;
             font-weight: medium;}

.FOOTNOTE {
     font-size: 75%;	
     font-weight: medium;
     font-style: italic;
     font-family: Times New Roman, times, tms, serif;
}

.FOOTER {
     color: navy;
     font-size: 75%;	
     font-weight: medium;
     font-family: Arial, Helvetica, helv, sans-serif
}

.HEADER {
     color: white;
     font-size: 75%;
     font-weight: medium;
     font-style: italic;	
     font-family: Arial, Helvetica, helv, sans-serif
}

.CONTENTS {
     font-size: 75%;
     font-family: Arial, Helvetica, helv, sans-serif
}

.ADHEAD {
     font-weight: bold;
     font-family: Times New Roman, times, tms, serif;
     color: navy;
     background: #99CCFF;
}


-->
</STYLE>



